type=dhcp-client
hostname=${hostname}
panorama-server=cloud
vm-series-auto-registration-pin-id=${pin_id}
vm-series-auto-registration-pin-value=${pin_value}
dgname=${scm_folder}
dhcp-accept-server-hostname=yes
